#MenuButton{
    float:right;    
}
.navbar-header{
  width:100%;
}
.right-side-button{
  float:right;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}
.left-side-header{
  float:left;
}
li{
  background-color: yellow;
}
#menutext{
  background-color: cyan;
}
.container-fluid {
margin-right: 5px;
margin-left: 5px;
	}