#MenuButton{
    float:right;    
}
.navbar-header{
  width:100%;
}
.right-side-button{
  float:right;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}
.left-side-header{
  float:left;
}